
body {
   background-color:beige;
}


#title {
    margin-bottom: 20px;
    font-family: bold;
    font-size: 50px;
    
}

#rules {
    margin-bottom: 20px;
    font-family: bold;
    font-size: 30px;    
}

#numberguessed {
    font-family: bold;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: yellow;
    background-color: black;
    border: solid black 2px;
    width: 35%;
}
#guessaccuracy {
    font-style: bold;
    font-size: 30px;
    color: yellow;
    background-color: black;
    border: solid black 2px;
    width: 35%;
    margin-bottom: 10px;
}
#guessesleft {
    margin-bottom: 20px;
    font-style: bold;
    font-size: 30px;
    color: red;
    background-color: black;
    border: solid black 2px;
    width: 35%;
}
#buttonsdiv {
    margin-bottom: 20px;

}
#guess {
    font-size: 48px;
    margin-bottom: 20px;
}
#submitbutton {
   font-size: 20px;
   cursor: pointer;
}

#submitbutton:hover {
    color: yellow;
    background-color: black;
    border: solid yellow 1px;
    
}
#resetbutton {
   font-size: 20px;
   cursor: pointer;
}

#resetbutton:hover {
    color: yellow;
    background-color: black;
    border: solid yellow 1px;
}
#winlose {
    font-size: 40px;
    font-family: bold;
    color: yellow;
    border: solid black 3px;
    background-color: black;
}
