
body {
   
}


#title {
    margin-bottom: 20px;
    font-family: bold;
    font-size: 50px;
    
}

#rules {
    margin-bottom: 20px;
    font-family: bold;
    font-size: 30px;    
}

#numberguessed {
    font-family: bold;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: blue;
    background-color: yellow;
    border: solid blue 2px;
    width: 35%;
}
#guessaccuracy {
    font-style: bold;
    font-size: 30px;
    color: red;
    border: solid black 2px;
    width: 35%;
    margin-bottom: 10px;
}
#guessesleft {
    margin-bottom: 20px;
    font-style: bold;
    font-size: 30px;
    color: red;
    border: solid black 2px;
    width: 35%;
}
#buttonsdiv {
    margin-bottom: 20px;

}
#guess {
    font-size: 48px;
    margin-bottom: 20px;
}
#submitbutton {
   font-size: 20px;
    
}
#resetbutton {
   font-size: 20px;
}

#winlose {
    font-size: 30px;
    font-family: bold;
}
